*{
    padding : 0px;
    margin : 0px;
}


body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.c1{
    background-color : rgb(246, 140, 48);
}

.c2{
    background-color : rgb(249, 244, 206);
}

.c1:hover{
    background-color : rgb(247, 178, 117);
}

.c2:hover{
    background-color : rgb(246, 235, 155);
}

.movable{
    background-color : lightblue;
}

.attackable{
    background-color : rgb(245, 145, 145);
}